@model SistemaSalud1.Models.Paciente
@{
    ViewBag.Title = "MostrarNuevaHistoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Informacion Personal</title>
</head>
<body>
    <div>
        <h3>CAMBIO De Historia</h3>
        <form action="Paciente/Paciente" method="post">
            <table>

                <tr>
                    <td><label>Su nueva Historia es @Model.Historia_clinica </label></td>
                </tr>


            </table>
        </form>
    </div>
</body>
</html>

